body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    overflow-x: hidden;
    font: normal 16px/24px "NeutraDisplayBold", "Helvetica Neue", Helvetica, sans-serif;
}
@font-face {
    font-family: NeutraDisplayBold;
    font-weight: normal;
    src: url("fonts/Neutra-Display-Bold.ttf") format("truetype");
}
@font-face {
    font-family: NeutraDisplayLight;
    font-weight: bold;
    src: url("fonts/Neutra-Display-Light.ttf") format("truetype");
}

/*.menu {
    background: #202024 url('black.jpg') repeat left top;
    left: -285px;
    /* start off behind the scenes */

height: 100%;
position: fixed;
width: 285px;

}
*/ header {
    position: fixed;
}
header .matt {
    background: #cccccc;
    height: 500px;
    top: 0;
    width: 100%;
    padding-top: 130px;
}
header h2 {
    color: #000;
    text-align: center;
    display: block;
    font-size: 3em;
    line-height: 1em;
    padding-top: 20px;
    text-transform: uppercase;
}
header h3 {
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    font-family: NeutraDisplayLight;
}
header .social {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
header .btn {
    font-size: 18px;
    padding: 0;
    color: #000;
}
#container {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 3;
    padding-top: 75px;
    padding-bottom: 75px;
}
#container .navigation {
    display: block;
    text-align: center;
}
#container .navigation .btn {
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
}
