body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    overflow-x: hidden;
    font: normal 16px/24px "NeutraDisplayBold", "Helvetica Neue", Helvetica, sans-serif;
}
@font-face {
    font-family: NeutraDisplayBold;
    font-weight: normal;
    src: url("fonts/Neutra-Display-Bold.ttf") format("truetype");
}
@font-face {
    font-family: NeutraDisplayLight;
    font-weight: bold;
    src: url("fonts/Neutra-Display-Light.ttf") format("truetype");
}

*/ header {
    position: fixed;
}
header .matt {
    background: #cccccc;
    /* background-image: url(images/header.jpg); */
    height: 500px;
    top: 0;
    width: 100%;
    padding-top: 130px;
}
header h2 {
    color: #000;
    text-align: center;
    display: block;
    font-size: 3em;
    line-height: 1em;
    padding-top: 20px;
    text-transform: uppercase;
}
header h3 {
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
    font-family: NeutraDisplayLight;
}
header .social {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
header .btn {
    font-size: 18px;
    padding: 0;
    color: #000;
}
#container {
    width: 100%;
    background: #fff;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    z-index: 3;
    padding-top: 75px;
    padding-bottom: 75px;
}
#container .navigation {
    display: block;
    text-align: center;
}
#container .navigation .btn {
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
}
#container .navigation .btn-about {
    padding-bottom: 150px;
}
/*#container .projects {
    width: 80%;
    padding-top: 350px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    color: #000;
}*/

#container .projects h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

#container .projects h3 {
    font-size: 2em;
    text-align: center;
}
#container .projects p {
    font-size: 26px;
    font-family: NeutraDisplayLight;
    text-align: center;
    display: block;
}

.carousel {
    overflow: hidden;
}
.carousel-inner {
    width: 150%;
    left: -25%;
}
.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
}
.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
}
.carousel-control.left,
.carousel-control.right {
    background: rgba(255, 255, 255, 0.5);
    width: 25%;
}

.carousel-indicators li {visibility: hidden;}

/* Don't display gradient bars on carousel */
/* #container .projects .carousel-control.left, .carousel-control.right {
    background-image: none
} */

/* Override carousel-indicators so they don't display */
/* .carousel-indicators li {visibility: hidden;}
.carousel-indicators .active {visibility: hidden;} */

#container .about {
    width: 80%;
    height-max: 100%;
    padding: 150px 20px 40px;
    margin: 0 auto;
    display: block;
    overflow: auto;
    text-align: center;
    color: #000;
}

#container .about h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

#container .about p {
    word-wrap: break-word;
    font-size: 26px;
    font-family: NeutraDisplayLight;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 100px;
}

#container .about img {
    height: 480px;
}
